.icon-root{
    width: 100%;
    height: 100%;
}
.icon-github{
    background: url("/src/images/github.png");
    background-size: cover;
}
.icon-alipay{
    background: url("/src/images/alipay.png");
    background-size: cover;
}
.icon-weather {
    background: url("/src/images/weather.png");
    background-size: cover;
}
.icon-photo {
    background: url("/src/images/photo.png");
    background-size: cover;
}
.icon-seting {
    background: url("/src/images/seting.png");
    background-size: cover;
}
.icon-note {
    background: url("/src/images/note.png");
    background-size: cover;
}
.icon-md {
    background: url("/src/images/md.png");
    background-size: cover;
}
.icon-music {
    background: url("/src/images/music.png");
    background-size: cover;
}
.icon-book {
    background: url("/src/images/book.png");
    background-size: cover;
}
.icon-right-arow {
    background: url("/src/images/right-arow.png");
    background-size: cover;
}
.icon-clound {
    background: url("/src/images/clound.png");
    background-size: cover;
}
.icon-battery{
    background: url("/src/images/battery.png");
    background-size: cover;
}
.icon-wifi{
    background: url("/src/images/wifi.png");
    background-size: cover;
}
.icon-alipay-code{
    background: url("/src/images/zfb.jpg");
    background-size: cover;
}
.icon-close{
    background: url("/src/images/close.png");
    background-size: cover;
}